/* ------- CSS Document ------- */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* ------- Algemene opmaak ------- */
header{
	background-color: #181818;
}

nav{
	color: #ffffff;
}

ul{
	background-color: #000000
}

body{
	background-color: rgba(0,0,0,0.5);
}

section{
	background-color: #f8f8f8;
}

article{
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

/* ------- Hamburger Menu ------- */
button#hamburgerknop{
	width: 2em;
	height: 2em;
	border: 0;
	background: transparent;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
}

button#hamburgerknop:focus {
	outline: none;
}

/* ------- Zoekfunctie ------- */
button#zoekknop {
	width: 2.1em;
	height: 2em;
	border: 0;
	background: transparent;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
}

button#zoekknop:focus {
	outline: none;
}

/* 	------- Typografie ------- */
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.5em;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	width: 100vw;
	font-size: 2em;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 12px 0;
}

h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	margin-bottom: 6px;
}

li{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.3em;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	margin-bottom: 24px;
}

time{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.7em;
	color: #7b7b7b;
}

a.pagina{
	color: #ffffff;
	text-decoration: none;
}
/* 	------- Posities en flex ------- */
header{
	position: sticky;
	z-index: 10;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4em;
}

/*navigatie*/
nav{
	position: fixed;
	z-index: 10;
	opacity: 0;
	transform: translateX(-15em);
	transition: .25s;
}

body.actief nav{
	transform: translateX(0);
	transition: .25s;
	opacity: 1;
}

body.actief section{
	filter: brightness(30%);
	transition: .25s;
}

ul{
	width: 90vw;
}

nav li + li{
	border-top: 1px solid white;
}

a.pagina {
	display: block;
	width: 100%;
	padding: 3vh 0 3vh 3vw;
}

/*main*/
main {
	display: flex;
	flex-direction: column;
}

section{
	min-width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

section h2:first-child {
	margin: 20px auto;
}

article{
	width: 85vw;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	text-align: left;
}

h3{
	padding-left: 1em;
}

h4, p{
	padding-right: 1.5em;
	padding-left: 1.5em;
}

time {
	padding-left: 2em;
}

img.afleveringen{
	width: 100%;
}
/* -------Grotere schermen ------- */
@media (min-width: 50em) {
	body{
	}
}