/* ------- CSS DOCUMENT ------- */

*, *::after, *::before {
  margin: 0;				/* Geen default margin */
  padding: 0;				/* Geen default padding */
  box-sizing: border-box;  	/* Breedte en hoogte van element zijn inclusief border */
}

header{
	background-color: #181818;
	position: sticky;				/* Header vastmaken aan een positie */
	top: 0;							/* Header zit vast aan de bovenkant van de pagina */
	z-index: 10;					/* Overlapt de reguliere content */
	display: flex;					/* De elementen in de header worden flexibel */
	align-items: center;
	justify-content: space-between;
	height: 4em;
}

button#hamburgerknop{
	width: 2em;					/* Breedte button */
	height: 2em;				/* Hoogte button */
	border: 0;
	background: transparent;
	color: white;
	cursor: pointer;
	font-size: 1.5em;			/* Grootte van het icoon */
}

button#hamburgerknop:focus {
	outline: none;
}

button#zoekknop {
	width: 2.1em;				/* Breedte button */
	height: 2em;				/* Hoogte button */
	border: 0;
	background: transparent;
	color: white;
	cursor: pointer;
	font-size: 1.5em;			/* Grootte van het icoon */
}

button#zoekknop:focus {
	outline: none;
}

nav{
	color: #ffffff;
	position: fixed;					/* Plaatst de nav op een vaste plek en haalt de nav uit de parent */
	z-index: 10;						/* Overlapt de reguliere content */
	transform: translateX(-100vw);		/* Plaatst de navigatie naar links */
	transition: .4s ease-out;					/* Overgang duurt 0.4 seconden */
}

ul{
	background-color: #000000;
	width: 90vw;
}

li{
	text-transform: uppercase;					/* Tekst is all caps */
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.3em;
}

nav li + li{
	border-top: 1px solid white;		/* Alle list-items behalve de bovenste hebben een border */
}

a.pagina{
	color: #ffffff;
	text-decoration: none;		/* Geen underline */
	display: block;				/* Start op een nieuwe regel en neemt volledige breedte in */
	width: 100%;				/* Maximale breedte binnen de parent */
	padding: 3vh 0 3vh 3vw;
}

main {
	display: flex;				/* De elementen in de main worden flexibel */
	flex-direction: column;		/* De elementen worden flexibel in verticale richting */
}

section{
	background-color: #f8f8f8;
	border: none;
	min-width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

section h2:first-child {
	margin: 1.2em auto;		/* Ruimte tussen de heading en het eerste artikel */
}

article{
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	width: 85vw;										/* Neemt 85% van de totale breedte in */
	text-align: left;
}

article.afleveringen {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

article.collectie{
	background-color: transparent;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.5em;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	width: 85vw;								/* in lijn met de articles */
	font-size: 2em;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0.8em 0;
	padding-left: 1em;
}

h3.collectie-titel{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 4vw;
	color: #ffffff;
	position: absolute;
	left: 3%;
	top: 73%;
}

h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	margin-bottom: 0.4em;
	padding: 0 1.5em;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	margin-bottom: 1.5em;
	padding: 0 1.5em;
}

p.collectie-tekst{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2vw;
	color: #ffffff;
	position: absolute;
	left: 4.2%;
	top: 90%;
}

time.datum{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.7em;
	color: #7b7b7b;
	padding-left: 2em;
}

img.video{
	max-width: 100%;		/* Breedte is maximaal binnen het artikel */
}

img.collectie-cover{
	max-width: 100%;
	filter: brightness(70%);
}

img#collectie-icoon{
	width: 6vw;
	position: absolute;
	left: 8%;
	top: 65%;
}

div.media-wrapper{
	position: relative;
	max-width: 100%;
}

div.timestamp-container{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	width: 12vw;
	padding: 1vw;
	bottom: 10%;
	right: 3%;
}

img.playicon {
	width: 2vw;
}

time.timestamp{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-size: 3vw;
}


/* 	------- NA AANROEPEN JAVASCRIPT ------- */

body.actief nav{
	transform: translateX(0);		/* Plaatst de navigatie terug in het scherm */
	transition: .4s ease-in;				/* Overgang duurt 0.7 seconden */
}

body.actief section{
	filter: brightness(30%);		/* Sectie wordt donkerder */
	transition: .4s ease-in-out;				/* Overgang duurt 0.7 seconden */
}


/* ------- BREAKPOINT 1 ------- */

@media (min-width: 50em) {
	body{
	}
}